<div class="row">
<% @products.each do |product| %>
  <div class="col-4 mt-2 mb-2">
    <div class="card p-2">
      <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text"><%= truncate(product.description) %></p>
        <%= link_to product_path(product) do %>
          <span class="btn btn-success">Show</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<div class="d-flex justify-content-center mt-3">
  <%= paginate @products %>
</div>